*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', sans-serif;
}

body{
    min-height: 100vh;
    background-image: url('../img/Background.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(18px);
    box-shadow: 0 4px 25px 0 rgba(120, 150, 255, 0.15);
}

.logo {  
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    height: 150px;
    width: auto;
      
}

.nav-buttons {
    margin-left: auto;
}

.nav-buttons button {
    font-size: 20px;
    font-family: 'Saira', sans-serif;
    padding: 14px 26px;
    border-radius: 20px;
    border: 3px solid #b9c6ff;
    background: rgba(255, 255, 255, 0.4);
    color: #6a7cff;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.nav-buttons button:hover {
        background: rgba(200, 210, 255, 0.6);
        box-shadow: 0 0 10px rgba(140, 160, 255, 0.5);
        }


.login-box {
    height: 500px;
    width: 500px;
    margin:60px auto;
    padding : 40px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 40px rgba(120, 150, 255, 0.15);
    text-align: center;
}

.login-box h1{
    font-family:'Quicksand', sans-serif;
    color: #7b86ff;
    margin-bottom: 30px;
    font-weight: 700;
}

.input-box {
    position: relative;
}

.user-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #7b86ff;
    font-size: 20px;
}

.pass-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #7b86ff;
    font-size: 20px;
}


.login-box .form-control{
    font-family:'Saira', sans-serif;
    padding:18px;
    border:2px solid #c5ccff;
    border-radius: 15px;
}

.forgot{
    color:#7b86ff;
    text-decoration: none;
    font-size: 14px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.forgot:hover{
    text-decoration: underline;
}

.fb-icon {
    color: #7b86ff;
    font-size: 20px;
    text-decoration: none;
}

.tt-icon {
    color: #7b86ff;
    font-size: 20px;
    text-decoration: none;
}

.yt-icon {
    color: #7b86ff;
    font-size: 20px;
    text-decoration: none;
}

.login-btn{
    margin-top: 0px;
    padding:12px;
    background-color: #aab6ff;
    color:white;
    border:2px solid #929fff;
    border-radius: 15px;
}

.login-btn:hover{
    background-color: #8f9cff;
    color:white;
}

.error{

    font-family:'Saira', sans-serif;
    color: #7b86ff;
    margin: 0px;
}

#login-error {
    color: #ff6b8a;
    font-family: 'Saira', sans-serif;
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
}



